table
{


width:829.9px;
border:1px solid black;
 
 

}

p{
    color:#F5FFFA;
    font-family: 'Kenia', cursive;
    font-size: 30px;
    position: relative;
}

#borderimg1 {
  
    border-image: url(border.png) 50 round;
  }

  #profile-pic{ 
       
    border-radius: 8px;
    position: absolute;
    bottom: -180px;
    right:400px;
    border:5px solid #999;

  }
  .example1
      {
        font-family: 'Audiowide', cursive;
      }

      body{
        background-color: grey;
        background:grey;
        width: 50%;
        padding: 40px;
        margin: 50px auto;
        font-family: calibri;
        border-radius: 10px;
  
      }

      .trclass1{
          height:90px;
      }
      .tdstyle1{
        width: 121px;
         height: 90px;
      }

    .tdstyle2{
        width: 698.9px;
         height: 90px;
    }
    
    #division1{
        color: black;
        font-family: 'Kenia', cursive;
        font-size:20px;
        padding-bottom:20px;
    }

    #bottompage{

      
     
    }
    #boxmodelimg{
      margin:25px;
    }
    
  